@page "/collections"
@using System.IO
@using System.Text.Json
@using Melapp.Models

<h1>Collections</h1>

<p>Here you can create or modify your collections</p>

@if (_collections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <table class="table text-light">
            <thead>
            <tr>
                <th>Collection</th>
                <th>Description</th>
                <th>Entries</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var forecast in _collections)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Description</td>
                    <td>@forecast.Entries</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            }
            </tbody>
        </table>
    </p>
}

@code {
    CollectionListEntry[] _collections;

    protected override async Task OnInitializedAsync()
    {
        var forecastsJson = await File.ReadAllTextAsync("wwwroot/sample-data/weather.json");
        _collections = JsonSerializer.Deserialize<CollectionListEntry[]>(forecastsJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }
}
