@page "/"

<div class="container px-4 text-center">
    <h1 class="fw-bolder">Welcome to Melapp!</h1>
    <p class="lead">This application is a typical flashcards application where user has to input manually collections and then play quizzes to learn words in a fun way!</p>
    <a class="btn btn-lg btn-light" href="collections">Start learning!</a>
</div>