@inherits LayoutComponentBase

@* <!DOCTYPE html> *@
    @* <body id="page-top" class="bg-primary bg-gradient text-white"> *@
    <!-- Navigation-->
        <div>
            <NavMenu />
        </div>
        <main class="full-height">
            @* <header> *@
                @Body
            @* </header> *@
        </main>
        <!-- Footer-->
        @* <footer class="py-5 bg-dark bottom-0"> *@
        @*     <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div> *@
        @* </footer> *@

    @* </body> *@
